In [3]:
from pyspark.sql import SparkSession

In [4]:
# Create Spark session
spark2 = (SparkSession.builder
    .appName("JupyterSparkExample")
    .remote("sc://10.0.0.50:15002")
    .getOrCreate())

In [5]:
spark2

In [6]:
from datetime import datetime, date
from pyspark.sql import Row

df = spark2.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 16:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 16:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 16:00:00|
+---+---+-------+----------+-------------------+

In [7]:
df2 = spark2.read.csv("./data.csv")

In [8]:
df2.show()

+---+----------+----------+--------------------+-----------+---------------+
|_c0|       _c1|       _c2|                 _c3|        _c4|            _c5|
+---+----------+----------+--------------------+-----------+---------------+
| id|first_name| last_name|               email|     gender|     ip_address|
|  1|  Adolphus|  Crowcher|acrowcher0@friend...|       Male| 117.42.158.211|
|  2|   Alberta|     Petti|   apetti1@salon.com|     Female| 173.225.57.233|
|  3|     Myrta|    Towers|mtowers2@mozilla.com|     Female|  12.185.75.114|
|  4| Westbrook|   Coltart|wcoltart3@blogspo...|       Male|158.225.210.182|
|  5|    Pepito|    Guiden| pguiden4@usnews.com|       Male|  226.24.75.108|
|  6|   Donelle|    Brosio|dbrosio5@indiegog...|     Female| 212.138.184.11|
|  7|  Matthias|   Pidduck|mpidduck6@scienti...|       Male| 22.245.137.192|
|  8|    Amalie| Inderwick|ainderwick7@omnit...|     Female|  248.236.211.9|
|  9|    Reagan|    Kennea|    rkennea8@cnn.com|       Male| 212.142.43.245|
| 10|      Earl|   Fidelus| efidelus9@google.ru|       Male|224.224.146.116|
| 11|      Hill|Hazelhurst|hhazelhursta@host...| Polygender| 163.169.20.174|
| 12|   Gardner|  Stanford|gstanfordb@ycombi...| Non-binary| 187.75.218.148|
| 13|     Dorri|  Carpmile|dcarpmilec@yolasi...|     Female|  236.69.184.35|
| 14|  Leonhard|   Waleran|lwalerand@nbcnews...|       Male|102.171.226.145|
| 15|     Traci|      Airs|      tairse@hhs.gov|     Female|234.179.219.230|
| 16|  Mignonne|     Rives|mrivesf@posterous...|     Female| 48.147.245.148|
| 17|     Matty|    Philot|mphilotg@paginegi...|     Female|  140.62.59.189|
| 18|    Fulton|      Noto|       fnotoh@vk.com|Genderqueer|  85.154.237.64|
| 19|    Esdras|   Creavin|ecreavini@cornell...|       Male| 176.193.94.160|
+---+----------+----------+--------------------+-----------+---------------+
only showing top 20 rows

In [9]:
spark2.stop()